<div class="bg">

  <h2>Please login to see more </h2>

  <div>
    <form action="/auth/login" method="POST">

      <label for="email">E-Mail:</label>
      <input class="form-group" type="text" name="email" automcomplete="off" />

      <label for="password">Password:</label>
      <input
        class="form-group"
        type="password"
        name="password"
        automcomplete="off"
      />
      <br />
      <br />
      <button type="submit">Login!</button>

      <p style="color: red">{{errorMessage}}</p>

    </form>
  </div>
</div>