<div class="bg">

  <h2>Please login to see more </h2>

  <div class="login-form">
    <form action="/auth/login" method="POST" class="row g-3">
      
      <div class="col-md-6">
      <label for="inputEmail4" class="form-label">E-Mail:</label>
      <input type="email" class="form-control" id="inputEmail" name="email" automcomplete="off" />
      </div>
      <br />>
      <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password:</label>
      <input type="password" class="form-control" id="inputPassword4" name="password" automcomplete="off" />
      
      <br />
      <button type="submit" class="btn btn-light">Login!</button>
      {{!-- <button type="submit">Login!</button> --}}

      <p style="color: red">{{errorMessage}}</p>

    </form>
  </div>
</div>