<h1>Artworks</h1>

<div>
  <div class="card" style="width: 18rem;">
    <img src="/images/Graffiti.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Graffiti</h5>
      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
      <a href="/artworks/list/Graffiti" class="btn btn-primary">See more
        Graffitis</a>
    </div>

    <div class="card" style="width: 18rem;">
    <img src="/images/Sticker.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Sticker</h5>
      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
      <a href="/artworks/list/Sticker" class="btn btn-primary">See more
        Sticker</a>

    <div class="card" style="width: 18rem;">
    <img src="/images/Urban-Knitting.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Urban Knitting</h5>
      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
      <a href="/artworks/list/Urban-Knitting" class="btn btn-primary">See more
        Urban Knitting</a>
    </div>
    
    {{!-- <div class="card" style="width: 18rem;">
    <img src="/images/Graffiti.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Graphic Poster</h5>
      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
      <a href="/artworks/list/Graphic-Poster" class="btn btn-primary">See more
        Graphic Poster</a> --}}

    <div class="card" style="width: 18rem;">
    <img src="/images/Graffiti.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Paper Works</h5>
      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
      <a href="/artworks/list/Paper-Works" class="btn btn-primary">See more
        Paper Works</a>

    <div class="card" style="width: 18rem;">
    <img src="/images/Mosaic.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Mosaics</h5>
      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
      <a href="/artworks/list/Mosaic" class="btn btn-primary">See more
        Mosaics</a>

     <div class="card" style="width: 18rem;">
    <img src="/images/Graffiti.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Stencil</h5>
      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
      <a href="/artworks/list/Stencil" class="btn btn-primary">See more
        Stencils</a>
  </div>

</div>