<h1>Artworks</h1>

<div>
    <h2>Categories</h2>
    <a href="/artworks/list/Graffiti">Graffiti</a>
    <a href="/artworks/list/Sticker">Sticker</a>
    <a href="/artworks/list/Urban-Knitting">Urban Knitting</a>
    <a href="/artworks/list/Graphic-Poster">Graphic Poster</a>
    <a href="/artworks/list/Paper-Works">Paper Works</a>
    <a href="/artworks/list/Mosaic">Mosaic</a>
    <a href="/artworks/list/Stencil">Stencil</a>
</div>