<h1>Here to update an artwork</h1>

<div>
  <form action="/artworks/details/{{singleArtworkFromDB._id}}/update" method="POST">

    <label for="category">Choose art´s category:</label>
    <select name="category">
      {{#each artwork}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <br />
    <label for="artist">Artist:</label>
    <textarea name="artist" cols="30" rows="1"></textarea>
    <br />
    <label for="titleOfArtwork">Change the title of the Artwork:</label>
    <input type="text" name="titleOfArtwork" />
    <br />
    <label for="date">Date:</label>
    <input type="date" name="date" />
    <br />
    <label for="location">Country, City:</label>
    <input type="text" name="location" />
    <br />
    <label for="description">Description:</label>
    <textarea name="description" cols="30" rows="10"></textarea>
    <br />

    <button type="submit">Update the Artwork</button>

  </form>

</div>