<h1>Upload Artwork</h1>

<div>
  <form action="/artworks/upload" method="POST" enctype="multipart/form-data">

    <label for="category">Choose art´s category:</label>
    <select name="category">
      {{#each artwork}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <br />
    <label for="artist">Artist:</label>
    <textarea class="form-control" name="artist" cols="30" rows="1"></textarea>
    <br />
    <label for="titleOfArtwork">Choose any title for the Artwork:</label>
    <input class="form-control" type="text" name="titleOfArtwork" />
    <br />
    <label for="date">Date:</label>
    <input class="form-control" type="date" name="date" />
    <br />
    <label for="location">Country, City:</label>
    <input class="form-control" type="text" name="location" />
    <br />
    <label for="description">Description:</label>
    <textarea
      class="form-control"
      name="description"
      cols="30"
      rows="5"
    ></textarea>
    <br />
    <label for="artworkImage">Artwork Image:</label>
    <input class="form-control" type="file" name="artworkImage" />
<br />
    <button type="submit" class="btn btn-success">Upload</button>
  </form>

</div>