  <h1>{{title}} </h1>
  <div class="bg">

    <div class="p-welcome">
      <p>Join the club & share<br />
        what you have discovered!</p>
    </div>

    <form action="/auth/signup" method="GET">
      <button type="submit" class="btn btn-light btn-signup">Sign up!</button>
    </form>

  </div>
</section>