  <h1 class="h-welcome">{{title}} </h1>

  <div class="bg-home">

    <div class="p-welcome">
      <p>Join the club & share what you have discovered!</p>
    </div>

    <form action="/auth/signup" method="GET">
      <button type="submit" class="btn btn-outline-dark bottomright">Sign up!</button>
    </form>

  </div>
</section>