body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.bg {
  /* The image used */
  background-image: url("../images/Background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-arts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mycard {
  margin: 15px;
}
.p-welcome {
  margin-top: 10px;
  margin-left: 5px;
  font-weight: bold;
  font-size: large;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
