body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav-bar {
  margin-bottom: 15px;
}

.bg-artworks {
  /* The image used */
  background-image: url("../images/bg-artworks.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup {
  /* The image used */
  background-image: url("../images/bg-artworks.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .4;
}

.bg {
  /* The image used */
  background-image: url("../images/Background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-home {
  /* The image used */
  background-image: url("../images/Logo.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-welcome {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.btn-signup {
  margin: 50 0 0 15;
}

/*.bg-container{
  background-color: black;
}*/

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.profile-container-top {
  margin: 0 0 10 0;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profile-container-info {
  font-size: 18px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.img-thumbnail {
  border-radius: 10%;
}

.login-form {
  margin: 0 0 0 15;
}

.container-arts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profile-card-uploads {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100px;
}

.mycard {
  margin: 15px;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.h-welcome {
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-align: center;
}

