body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav-bar {
  margin-bottom: 15px;
}
.img-card{
  height: 215px;
}

.bg-artworks {
  /* The image used */
  background-image: url("../images/bg-artworks.jpg");
  background-repeat: repeat-y;

  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}

.artist-card{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#h2-login{
  padding-top: 10px;
  margin-left: 15px;
}

.artist-img-details{
    padding-top: 30px;
    padding-left: 10px;
}

#spotted-by{
  text-align: right;
}

.signup {
  /* The image used */
  background-image: url("../images/signupbg1.jpg");

  /* Full height */
  height: 100%;
  padding-top: 100;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.4; */
}

.img-list {
  margin-bottom: 20px;
}

.artist-list {
  margin-top: 10px;
}

.upload-form{
  margin: 0 200 0 200;
}

.update-form{
  margin: 0 200 0 200;
}

#signup-form {
  color: white;
  margin: 0 200 0 200;
}

.bg {
  /* The image used */
  background-image: url("../images/Background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-home {
  /* The image used */
  background-image: url("../images/Logo.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-welcome {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.btn-signup {
  margin: 50 0 0 15;
}

/*.bg-container{
  background-color: black;
}*/

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.profile-container-top {
  margin: 0 0 10 0;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profile-container-info {
  font-size: 18px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.img-thumbnail {
  border-radius: 10%;
}

.login-form {
  margin: 0 410 0 15;
}

.container-arts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profile-card-uploads {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100px;
}

.mycard {
  margin: 15px;
}

.btn-next{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}

a {
  color: #00b7ff;
}

h1 {
  text-align: center;
  color: 15px;
}

.h-welcome {
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-align: center;
}
