<h1>Create a new Artist</h1>

<div>
  <form action="/artists/create" method="POST">

    <label for="artistName">Artist Name:</label>
    <input type="text" name="artistName" />
    <br />
    <label for="countryOfOrigin">Country of Origin:</label>
    <input type="text" name="countryOfOrigin" />
    <br />
    <label for="shortVita">Short Vita:</label>
    <textarea name="shortVita" cols="30" rows="10"></textarea>
    <br />

    <button type="submit">Create New Artist</button>

  </form>

</div>