<h2>Update the Artist</h2>
<form action="/details/{{artist._id}}/update" method="POST">
  <label for="artistName">Artist Name:</label>
  <input type="text" name="artistName" value="{{artist.artistName}}" />

  <label for="countryOfOrigin">Country of Origin:</label>
  <input
    type="text"
    name="countryOfOrigin"
    value="{{artist.countryOfOrigin}}"
  />

  <label for="shortVita">Short Vita:</label>
  <textarea
    name="shortVita"
    cols="30"
    rows="10"
    value="{{artist.shortVita}}"
  >Short Vita</textarea>

  <button type="submit">Update Artist</button>
</form>